import(methods)

importClassesFrom("graph", graphNEL)

importClassesFrom("GenomicRanges", "GenomicRanges")

importMethodsFrom("AnnotationDbi", saveDb)

importMethodsFrom("GenomicRanges", mcols, "mcols<-")

importMethodsFrom("graph", edgeNames, edges, nodes, show, subGraph,
                  union)

importMethodsFrom("IRanges", splitAsList)

importMethodsFrom("RBGL", bfs)

importMethodsFrom("RSQLite", dbGetQuery)

importFrom("AnnotationDbi", columns, keys, keytypes, select, mapIds, metadata,
           dbconn, dbfile, loadDb, unlist2)

importFrom("Biobase", createPackage)

importFrom("BiocInstaller", biocinstallRepos)

importFrom("GenomicFeatures",
           id2name,
           transcripts,
           exons,
           cds,
           genes,
           transcriptsBy,
           exonsBy,
           cdsBy,
           seqinfo,  ## Import this from GenomicFeatures b/c we need txdb vers.

           ## Below are methods that we are 'just wrapping' from TxDbs
           ## transcriptsByOverlaps,
           ## exonsByOverlaps,
           ## cdsByOverlaps,
           promoters,
           disjointExons,
           microRNAs,
           tRNAs,
           intronsByTranscript,
           fiveUTRsByTranscript,
           threeUTRsByTranscript,
           extractUpstreamSeqs,
           isActiveSeq ,
           "isActiveSeq<-",
           asBED, asGFF,
           distance,
           mapToTranscripts
           )

importFrom("graph", ftM2graphNEL)

importFrom("S4Vectors", isSingleString, wmsg)

importFrom("stats", setNames)

importFrom("utils", available.packages, contrib.url)

exportClasses("OrganismDb")

exportMethods(columns,
              keys,
              keytypes,
              select,
              mapIds,
              transcripts,
              exons,
              cds,
              genes,
              transcriptsBy,
              exonsBy,
              cdsBy,
              dbconn,
              dbfile,
              metadata,
              seqinfo,
              getTxDbIfAvailable,

              ## Below are methods that we are 'just wrapping' from TxDbs
              ## transcriptsByOverlaps,
              ## exonsByOverlaps,
              ## cdsByOverlaps,
              promoters,
              disjointExons,
              microRNAs,
              tRNAs,
              intronsByTranscript,
              fiveUTRsByTranscript,
              threeUTRsByTranscript,
              extractUpstreamSeqs,
              isActiveSeq ,
              "isActiveSeq<-",
              asBED, asGFF,
              distance,
              mapToTranscripts,
              selectByRanges
              )

export(getTxDbIfAvailable,  ## b/c the generic is here
       selectByRanges,
       makeOrganismPackage)



## checkUsagePackage("OrganismDbi",all=TRUE)
