importFrom("graph", ftM2graphNEL, edges)
importClassesFrom("graph", graphNEL)
importFrom("RBGL", dijkstra.sp)
exportClasses("OrganismDb")
exportMethods("cols",
              "keys",
              "keytypes",
              "select"
              )
export("makeOrganismPackage")
